<h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1>
<p>Here are the organizatons you may join:</p>
<% @groups.each do |group| %>
  <div class="group">
    <p><a href="/groups/<%= group.id %>"><%= group.name %></a>
      <% if group.owner == current_user %>
        <a href="/groups/<%= group.id %>" data-method="delete">Delete Group</a>
      <% end %>
    </p>
    <p>Members: <%= group.memberships.count %></p>
    <p><%= group.description %></p>
  </div>
<% end %>
<hr />
<p>Create a new organization</p>
<form action="/groups" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Organization Name:</label>
  <input type="text" name="name">
  <label for="description">Description:</label>
  <input type="text" name="description">
  <input type="submit" value="Create">
</form>
